#square-fill-1  {
  animation: square-fill-1 1s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes square-fill-1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}



#right-hand {
  animation: right-hand 4s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes right-hand {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}


#shoe {
  animation: right-hand 2s ease-in-out infinite alternate;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes shoe {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-120deg);
    transform: rotateY(10);
  }
}
