#square-fill-1, #square-1 {
  animation: movement-1 8s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#square-fill-2, #square-2 {
  animation: movement-2 20s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#square-fill-3, #square-3 {
  animation: movement-3 10s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#right-hand {
  animation: swing 4s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#shoe {
  animation: swing 2s ease-in-out infinite alternate;
  transform-origin: right;
  transform-box: fill-box;
}

#code-window {
  animation: minimize 8s 2s ease-in-out infinite;
  transform-origin: bottom right;
  transform-box: fill-box;
}

#bug {
  animation: bug-movement 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#less-than-symbol {
  animation: less-than-movement 2s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#more-than-symbol {
  animation: more-than-movement 2s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#line-1 {
  opacity: 0;
  animation: appear-disappear 8s 1s ease infinite;
}

#line-2 {
  opacity: 0;
  animation: appear-disappear 8s 1.1s ease infinite;
}

#line-3 {
  opacity: 0;
  animation: appear-disappear 8s 1.2s ease infinite;
}

#line-4 {
  opacity: 0;
  animation: appear-disappear 8s 1.3s ease infinite;
}

#line-5 {
  opacity: 0;
  animation: appear-disappear 8s 1.4s ease infinite;
}

#line-6 {
  opacity: 0;
  animation: appear-disappear 8s 1.5s ease infinite;
}

#line-7 {
  opacity: 0;
  animation: appear-disappear 8s 1.6s ease infinite; 
}

#line-8 {
  opacity: 0;
  animation: appear-disappear 8s 1.7s ease infinite;
}

#line-9 {
  opacity: 0;
  animation: appear-disappear 8s 1.8s ease infinite;
}

#line-10 {
  opacity: 0;
  animation: appear-disappear 8s 2s ease infinite;
}

#line-11 {
  opacity: 0;
  animation: appear-disappear 8s 2.1s ease infinite;
}

#line-12 {
  opacity: 0;
  animation: appear-disappear 8s 2.2s ease infinite;
}

#line-13 {
  opacity: 0;
  animation: appear-disappear 8s 2.3s ease infinite;
}

#line-14 {
  opacity: 0;
  animation: appear-disappear 8s 2.5s ease infinite;
}

#line-15 {
  opacity: 0;
  animation: appear-disappear 8s 2.6s ease infinite;
}

#line-16 {
  opacity: 0;
  animation: appear-disappear 8s 2.7s ease infinite;
}

#line-17 {
  opacity: 0;
  animation: appear-disappear 8s 2.8s ease infinite;
}

#line-18 {
  opacity: 0;
  animation: appear-disappear 8s 2.9s ease infinite;
}

#line-19 {
  opacity: 0;
  animation: appear-disappear 8s 3s ease infinite;
}

#line-20 {
  opacity: 0;
  animation: appear-disappear 8s 3.1s ease infinite;
}

#line-21 {
  opacity: 0;
  animation: appear-disappear 8s 3.2s ease infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes swing {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes minimize {
  0%, 100%, 65%, 47% {
    transform: scale(1) translate(0, 0);
  }
  48%, 64% {
    transform: scale(.75) translate(0, 2vh);
    animation-timing-function: ease-in;
  }
  49%, 63% {
    transform: scale(.5) translate(0, 5vh);
  }
  50%, 62% {
    transform: scale(.25) translate(0, 8vh);
  }
  51%, 61% {
    transform: scale(0) translate(0, 25vh);
  }
}

@keyframes grow {
  from{
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes movement-1 {
  0% {
    transform: translate(0, 0) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate(1vw, 3vh) rotateZ(180deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(7vw, 3vh) rotateZ(360deg);
  }
}

@keyframes movement-2 {
  0%, 100% {
    transform: translate(0, 0) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  25%, 75% {
    transform: translate(-8vw, -3.5vh) rotateZ(60deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translate(-10vw, 8vh) rotateZ(360deg);
  }
}

@keyframes movement-3 {
  0%, 100% {
    transform: translate(0, 0) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  25%, 75% {
    transform: translate(8vw, 3.5vh) rotateZ(60deg);
  }
  50% {
    transform: translate(10vw, -8vh) rotateZ(180deg);
  }
}

@keyframes bug-movement {
  0%, 100%, 50%, 70%, 30% {
    transform: rotateZ(0deg) scale(1,1);
  }
  40% {
    transform: rotateZ(30deg) scale(1.5,1.5);
  }
  60% {
    transform: rotateZ(-30deg) scale(1.5,1.5);
  }
}

@keyframes less-than-movement {
  0% {
    transform: translate(0, 0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-3vw, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes more-than-movement {
  0% {
    transform: translate(0, 0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(3vw, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes appear-disappear {
  0%, 9%, 51%, 100% {
    opacity: 0;
  }
  10%, 50% {
    opacity: 1;
  }
}